[Desktop Entry]
Type=Application
Icon=/usr/local/share/brapy/brapy_logo.png
Name=Brapy Web Browser
Exec=brapy
Terminal=false
Hidden=false
Categories=Network
Comment=A minimal Python based Web Browser
